{{# each left_menu }}
    {{# if r }}
        {{# if m }}
            {{#iff ../parent_module '==' link_module }}
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"> {{ k }}</li>

                    {{# each ../m }}
                        <li class="nav-item">
                            <a
                                    class="nav-link {{#iff ../this_module '==' link_module }}active{{/iff }}"
                                    href="/admin/index/{{ link_module }}"
                            >
                                <i class="{{ class_module }}"></i>
                                {{ name_module }}
                            </a>
                        </li>
                    {{/ each }}
                </ul>
            {{/iff }}
        {{/ if }}
    {{/ if }}
{{/ each }}