/*------------------------- forms -------------------------*/
.form {
  background: #fff;
  padding: 15px;
  display: table;
  width: 100%;
  &__group {
    width: 100%;
  }
  &__label {
    width: 100%;
    font-weight: 600;
    color: #585858;
    padding: 0 0 15px 0;
    display: block;
  }
  &__control {
    width: 100%;
    padding: 10px 15px;
    border: solid 2px #fed44f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    max-width: 100%;
  }
  .invalid {
    border: solid 2px #fe4432;
  }
  textarea {
    min-height: 150px;
  }
  hr {
    margin: 15px 0px;
    border-top: solid 1px #d1d7de;
    border-bottom: 0;
  }
  &__order {
    width: 100%;
    padding: 10px 15px;
    border: solid 2px #fed44f;
    margin-bottom: 15px;
    &__button {
      background-color: #ffd54f;
      border-radius: 3px;
      border: none;
      color: inherit;
      padding: 8px 20px;
    }
    &__button:hover {
      background-color: #ff8f00;
    }
  }
}

.form_ordering_left {
  width: 50%;
  float: left;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form_ordering_right {
  width: 50%;
  float: left;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.clear {
  clear: both;
  width: 100%;
}