<div id="modal_thanks" class="modal modal-thanks">
    <div class="bg close"></div>
    <div class="modal-thanks__main">
        <section>
            <header>
                <h4>Спасибо за заявку</h4>
            </header>
            <div>
                <p>В течении 10 минут мы позвоним вам и уточним детали</p>
                <span class="close">Закрыть</span>
            </div>
        </section>
    </div>
</div>

<div id="modal" class="modal">
    <div class="bg close"></div>
    <div class="modal__main">
        <span class="close"></span>
        <section>
            <header>
                <h4>Товар добавления в корзину</h4>
            </header>
            <div class="catalog__main">
                <table class="table_preview product-cont-big"></table>

                <div class="checkout__total">
                    <div class="checkout__total_field"><p class="total result-calc"></p></div>
                    <div class="checkout__total_confirm">
                        <a href="/catalog" class="continue btn close-cl">Продолжить покупку</a>
                        <a href="/cart" class="get">Оформить заказ</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
