<div id="modal_thanks" class="modal modal-thanks">
    <div class="bg close"></div>
    <div class="modal-thanks__main">
        <section>
            <header>
                <h4>Спасибо за заявку</h4>
            </header>
            <div>
                <p>В течении 10 минут мы позвоним вам и уточним детали</p>
                <span class="close">Закрыть</span>
            </div>
        </section>
    </div>
</div>

<div id="modal" class="modal">
    <div class="bg close"></div>
    <div class="modal__main">
        <span class="close"></span>
        <section>
            <header>
                <h4>Товар добавления в корзину</h4>
            </header>
            <div class="catalog__main">
                <table class="table_preview">
                    <tr>
                        <td>
                            <div class="item__description">
                                <div class="item__img">
                                    <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                                    <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                                </div>
                                <div class="item__head">
                                    <h5>Старый кирпич</h5>
                                    <p>Сайт рыбатекст поможет  дизайнеру, верстальщику,  вебмастеру сгенериров... </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h6>Количество</h6>
                            <div class="spinner__counts">
                                <button class="minus"><i class="icon-minus"></i></button>
                                <span>10</span>
                                <button class="plus"><i class="icon-plus"></i></button>
                            </div>
                        </td>
                        <td>
                            <h6>Цена</h6>
                            <div class="price">
                                <span class="new">30 000 руб</span>
                            </div>
                        </td>
                        <td>
                            <h6>Удалить</h6>
                            <a href="#" class="item__remove">
                                <svg> <use xlink:href="/images/site/svg/sprite.svg#icon_waste"/> </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item__description">
                                <div class="item__img">
                                    <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                                    <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                                </div>
                                <div class="item__head">
                                    <h5>Старый кирпич</h5>
                                    <p>Сайт рыбатекст поможет  дизайнеру, верстальщику,  вебмастеру сгенериров... </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h6>Количество</h6>
                            <div class="spinner__counts">
                                <button class="minus"><i class="icon-minus"></i></button>
                                <span>10</span>
                                <button class="plus"><i class="icon-plus"></i></button>
                            </div>
                        </td>
                        <td>
                            <h6>Цена</h6>
                            <div class="price">
                                <span class="new">30 000 руб</span>
                            </div>
                        </td>
                        <td>
                            <h6>Удалить</h6>
                            <a href="#" class="item__remove">
                                <svg> <use xlink:href="/images/site/svg/sprite.svg#icon_waste"/> </svg>
                            </a>
                        </td>
                    </tr>
                </table>
                <div class="checkout__total">
                    <div class="checkout__total_field">
                        <p><span>Итого:</span> 2 товара на сумму 34 000 руб</p>
                    </div>
                    <div class="checkout__total_confirm">
                        <a href="#" class="continue btn">Продолжить покупку</a>
                        <a href="#" class="get">Оформить заказ</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
