<div class="catalog__content layout">
    <div class="catalog__main">
        <ul>
            <li>
                <div class="item">
                    <a href="#" class="item__description">
                        <div class="item__img">
                            <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                            <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                        </div>
                        <div class="item__head">
                            <h5>Старый кирпич</h5>
                        </div>
                        <div class="price">
                            <span class="new">1 500 &#8381;</span>
                            <span class="old">3 000 &#8381;</span>
                        </div>
                    </a>
                    <div class="spinner">
                        <div class="spinner__counts">
                            <button class="minus"><i class="icon-minus"></i></button>
                            <span>10</span>
                            <button class="plus"><i class="icon-plus"></i></button>
                        </div>
                        <a href="#">В корзину</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <a href="#" class="item__description">
                        <div class="item__img">
                            <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                            <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                        </div>
                        <div class="item__head">
                            <h5>Старый кирпич</h5>
                        </div>
                        <div class="price">
                            <span class="new">1 500 &#8381;</span>
                            <span class="old">3 000 &#8381;</span>
                        </div>
                    </a>
                    <div class="spinner">
                        <div class="spinner__counts">
                            <button class="minus"><i class="icon-minus"></i></button>
                            <span>10</span>
                            <button class="plus"><i class="icon-plus"></i></button>
                        </div>
                        <a href="#">В корзину</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <a href="#" class="item__description">
                        <div class="item__img">
                            <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                            <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                        </div>
                        <div class="item__head">
                            <h5>Старый кирпич</h5>
                        </div>
                        <div class="price">
                            <span class="new">1 500 &#8381;</span>
                            <span class="old">3 000 &#8381;</span>
                        </div>
                    </a>
                    <div class="spinner">
                        <div class="spinner__counts">
                            <button class="minus"><i class="icon-minus"></i></button>
                            <span>10</span>
                            <button class="plus"><i class="icon-plus"></i></button>
                        </div>
                        <a href="#">В корзину</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <a href="#" class="item__description">
                        <div class="item__img">
                            <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                            <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                        </div>
                        <div class="item__head">
                            <h5>Старый кирпич</h5>
                        </div>
                        <div class="price">
                            <span class="new">1 500 &#8381;</span>
                            <span class="old">3 000 &#8381;</span>
                        </div>
                    </a>
                    <div class="spinner">
                        <div class="spinner__counts">
                            <button class="minus"><i class="icon-minus"></i></button>
                            <span>10</span>
                            <button class="plus"><i class="icon-plus"></i></button>
                        </div>
                        <a href="#">В корзину</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <a href="#" class="item__description">
                        <div class="item__img">
                            <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                            <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                        </div>
                        <div class="item__head">
                            <h5>Старый кирпич</h5>
                        </div>
                        <div class="price">
                            <span class="new">1 500 &#8381;</span>
                            <span class="old">3 000 &#8381;</span>
                        </div>
                    </a>
                    <div class="spinner">
                        <div class="spinner__counts">
                            <button class="minus"><i class="icon-minus"></i></button>
                            <span>10</span>
                            <button class="plus"><i class="icon-plus"></i></button>
                        </div>
                        <a href="#">В корзину</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>