/* login */
.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}
.form-login .checkbox {
    font-weight: normal;
}
.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* login */
/* layout */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: hsl(0, 0%, 96.1%);
    color: hsl(0, 0%, 62.4%);
}
.footer > div {
    padding: 0 15px;
}
#wrapper {
    padding: 55px 0;
}
.wrapper {
    min-width: 500px;
    margin-bottom: 80px;
}
#page-wrapper {
    padding: 15px;
    /*margin-bottom: 45px;*/
}
/* layout */
/* select 2*/
.select2-container .select2-selection--single {
    height: 38px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px!important;
}
/* select 2*/

/**/
.container-editor {
    pointer-events: none;
    right: -100%;
    position: fixed;
    top: 0;
    z-index: 1034;
    width: 100%;
    min-height: 100%;
    opacity: 0;
}

.container-editor > div > .body > .close {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #202020;
    z-index: 1035;
    background: hsl(0, 80.5%, 38.2%);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    opacity: .8;
}
.container-editor .bottom-panel {
    background: #fff;
    padding: 15px;
    position: fixed;
    bottom: -80%;
    right: 0;
    box-shadow: 3px 2px 1px 3px hsl(0, 0%, 83.1%);
    overflow: hidden;
    width: 100%;
}

.container-editor .body {
    pointer-events: all;
    background: #fff;
    min-height: 100%;
    /*right: 0;*/
    /*top: 0;*/
    /*float: right;*/
    overflow-y: scroll;
    height: 100%;
    /*position: absolute;*/
    padding: 15px;
    margin: 0 auto;
    max-width: 900px;
}

.btn-edit,
.btn-edit:focus {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 10px;
    color: #fff;
    background: #5aa26c;
}
.btn-edit:hover,
.btn-edit:active {
    color: #fff;
    background: #529463;
}

.panel-tools {
    margin-bottom: 15px;
    text-align: right;
}

.panel-tools button {
    cursor: pointer;
}

.panel-tools button.active,
.panel-tools button.focus {
    background: #4c4c4c;
    color: #fff;
}

.list-dr {
    cursor: pointer;
    padding: 15px;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-bottom: 4px;
    height: 250px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.list-dr:hover {
    box-shadow: 0 0 2px 1px #dbdbdb;
}

.list-dr.list {
    width: 100%;
    height: 50px;
}

.list-dr .left {

    height: 23px;
}

.list-d img {
    height: 100%;

}
.list-dr.list img,
.list-dr.list .left {
    height: 23px;
}

.list-dr.list .left {
    width: 100px;
    display: inline-table;
}

.list-dr.list .right div {
    display: inline-table;
}

.list-dr.grid {
    width: 24.6%;
    display: inline-block;
    height: 150px;
}

.list-dr.grid  img {
   max-height: 100px;
}

.caption {
    padding: 5px;
    position: absolute;
    bottom: -10px;
    width: 100%;
}

.view-first {
    overflow: hidden;
}
.view-first .caption {
    bottom: -50px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.view-first:hover .caption {
    bottom: -10px;
}

#imag_main_form {
    padding: 0 5px;
}

.thumbnail {
    padding: 5px;
    border: solid 1px hsl(0, 0%, 92.9%);
    margin-bottom: 15px;
}

.thumbnail > .image {
    height: 130px;
    overflow: hidden;
    position: relative;
}

label {
    font-weight: 600;
}

.thumbnail-old {
    display: block;
    line-height: 1.42857143;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    position: absolute;
    overflow: hidden;
}

.thumbnail-old a > img, .thumbnail-old > img {
    display: block;
    max-width: 100%;
    height: auto
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

/* components */
.cha-s .closes {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    height: 21px;
    line-height: 0.25;
}

.cha-s .form-control {
    display: inline-block;
}

.cha-s .form-obj{
    border: solid 1px #ececec;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    position: relative;
}
/* components */

.bg-fon-edit-is {
    bottom: calc(50% - 55px)!important;
    max-width: 500px;
    right: calc(50% - 250px);
    position: absolute;
    height: 110px;
    box-shadow: none;
    background: #fff;
    width: 500px;
    z-index: 1037;
    padding: 15px;
    box-shadow: 0px 0px 5px hsl(0, 0%, 71.8%);
}
.bg-fon-edit-is .loader {
    text-align: center;
    font-size: 18px;
}
.bg-fon-edit-is button,
.bg-fon-edit-is a {
    margin-top: 15px;
    cursor: pointer;
}
.bg-fon-edit-is .close {
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 14px;
}

.bg-fon-free, .bg-fon-free-0 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1036;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
}

.bg-fon-free-0 {
    z-index: 1033;
}