<div class="cha-s">
    <div class="alert alert-warning">
        Единицы измерения в полях характеристики писать не нужно, все единицы подставляются автоматически
    </div>

    <div class="text-right">
        <select class="select2-cha" multiple="multiple"></select>
    </div>

    <div class="cont"></div>
</div>

<script src="/js/admin/characteristics.js"></script>
<script>
    cHarC.initialize({
        params: [
            ['selector', '.select2-cha'],
            ['body', {{# if body.params }}{{{ body.params }}}{{ else }}[]{{/if}}]
        ]
    });
</script>
