<div class="cha-s">
    <div class="text-right">
        <select class="select2-cha" multiple="multiple"></select>
    </div>

    <div class="cont"></div>
</div>

<script>
    let eventSelect = $('.select2-cha');
    let objCh = [
        {
            name: 'weight',
            name_p: 'Вес',

            value: [{col: 12, type: 'input', name: 'weight', name_p: 'Вес'}]
        },

        {
            name: 'thickness',
            name_p: 'Толщина',

            value: [{col: 12, type: 'input', name: 'thickness', name_p: 'Толщина'}]
        },

        {
            name: 'dimensions_length_width',
            name_p: 'Размеры',
            name_d: 'длина/ширина',

            value: [
                {col: 6, type: 'input', name: 'length', name_p: 'Длина'},
                {col: 6, type: 'input', name: 'width', name_p: 'Ширина'}
            ]
        },

        {
            name: 'color',
            name_p: 'Цвет',
            name_d: '',

            value: [{col: 12, type: 'color', name: 'color', name_p: 'Цвет'}]
        },

        {
            name: 'concentrate_density_m3',
            name_p: 'Плотность концентрата (г/см³)',
            value: [{col: 12, type: 'input', name: 'concentrate_density_m3', name_p: 'Плотность концентрата (г/см³)'}]
        },

        {
            name: 'consumption_m2',
            name_p: 'Расход (л на м²)',
            value: [{col: 12, type: 'input', name: 'consumption_m2', name_p: 'Расход (л на м²)'}]
        }
    ];

    /**
     * init
     */
    function initChas() {
        eventSelect.val(_.map({{# if body.params }}{{{ body.params }}}{{ else }}[]{{/if}},
                function(v, k) { _render(_.find(objCh, {name: k}), v); return k; })).trigger("change");
    }

    /**
     * render characteristics
     * @param d0
     * @param val
     * @private
     */
    function _render(d0, val) {
        let t = '';
        val = _.isObject(val) ? val : {};

        t += `<div class="form-group row form-obj" id="${d0.name}-d">
                    <label for="example-text-input" class="col-2 col-form-label">${d0.name_p}</label>
                    <!--<button class="closes btn btn-danger btn-sm"><i class="fa fa-close"></i></button>-->
                    <div class="col-10"><div class="row">`;

        for(let ii = 0; d0.value.length > ii; ii++) {
            let d = d0.value[ii];

            if(d.type === 'input') {
                t += `<div class="col-${d.col}"><input value="${val[d.name] || ''}" class="form-control" name="pl[params][${d0.name}][${d.name}]" type="text" placeholder="${d.name_p}"></div>
                            `;
            }

            if(d.type === 'color') {
                t += `<div class="col-${d.col}">
                            <input class="form-control" value="${val[d.name] || ''}" type="color" id="example-color-input" name="pl[params][${d0.name}][${d.name}]" type="text" placeholder="${d.name_p}"></div>
                            `;
            }
        }

        t += `</div>
            </div>
            </div>`;

        $('.cha-s .cont').append(t);
    }

    /**
     * render select
     * @param obj
     */
    function renderOptions(obj) {
        let n = '';

        for(let i = 0; obj.length > i; i++) {
            let d0 =obj[i];
            n += `<option value="${d0.name}">${d0.name_p}</option>`;
        }

        eventSelect.html(n).select2({width: '100%'});
    }

    eventSelect.on("select2:unselect", function (e) {
        $('#' + e.params.data.id + '-d').remove()
    });

    eventSelect.on("select2:select", function (e) {
        _render(_.find(objCh, {name: e.params.data.id}))
    });

    renderOptions(objCh);
    initChas(objCh);
</script>
