{{!< ../../admin/layout}}

<div class="con">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h2>Все товары</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/">Рабочий стол</a></li>
                <li class="breadcrumb-item  active"><strong>Главный список</strong></li>
            </ol>
        </div>

        <div class="">
            <div class="form-group" style="margin: 15px 0">
                <div class="input-group">
                    <span class="input-group-addon">Отображения товара для: </span>
                    <select onchange="window.location.href = this.value" id="select1" class="select2" autocomplete="off">
                        <option value="/admin/index/products" {{#iff usertype '==' '' }}selected{{/iff}}>Все</option>
                        <option value="/admin/index/products?user=user" {{#iff usertype '==' 'manager' }}selected{{/iff}}>Продавец1</option>
                        <option value="/admin/index/products?user=admin" {{#iff usertype '==' 'admin' }}selected{{/iff}}>Продавец2</option>
                    </select>
                </div>
            </div>
            <div class="list-group">
                {{# each data }}
                    <a href="/admin/update/products/{{ id }}?page={{{df page 1 }}}" class="list-group-item">{{ name }}</a>
                {{/ each }}
            </div>
        </div>

        <div class="pagination-block">
            {{{ paginate }}}
        </div>
    </div>
</div>