{{!< ../layout}}
{{#contentFor "head"}}
    <link href="/css/admin/plugins/issues-block.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/admin/plugins/jqueru-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/admin/plugins/jqueru-ui/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/css/admin/plugins/jqueru-ui/jquery-ui.theme.min.css">
{{/contentFor}}
<div class="full-container">
    <div class="ibox-title">
        <h2>Заявки</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/">Рабочий стол</a></li>
            <li class="breadcrumb-item  active"><strong>Заявки</strong></li>
        </ol>
    </div>

    <div class="issues-block">
        <div class="table-issues-block">
            <div class="top">
                <div>
                    <div class="tb" data-block-top="1" onclick="$.isbl.showColumn(1, 'auto')">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Нет в наличии
                        <span></span>
                    </div>
                    <div class="tb" data-block-top="2" onclick="$.isbl.showColumn(2, 'auto')">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Новая
                        <span></span>
                    </div>
                    <div class="tb" data-block-top="3" onclick="$.isbl.showColumn(3, 'auto')">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Есть в налчии
                        <span></span>
                    </div>
                    <div class="tb" data-block-top="4" onclick="$.isbl.showColumn(4, 'auto')">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        В доставке
                        <span></span>
                    </div>
                    <div class="tb" data-block-top="5" onclick="$.isbl.showColumn(5, 'auto')">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        ?Заказ?
                        <span></span>
                    </div>
                    <div class="tb" data-block-top="6" onclick="$.isbl.showColumn(6, 'auto')">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Доставлено/Архив
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="tb">
                    <div>
                        <div class="issues-block-1 issues-block-1-1 ui-sortable" data-block="1">
                            <div class="bg ui-draggable ui-draggable-handle" data-id="1"><div>Text1</div></div>
                            <div class="bg ui-draggable ui-draggable-handle" data-id="2"><div>Text2</div></div>
                            <div class="bg ui-draggable ui-draggable-handle" data-id="3"><div>Text3</div></div>
                            <div class="bg ui-draggable ui-draggable-handle" data-id="4"><div>Text4</div></div>
                            <div class="bg ui-draggable ui-draggable-handle" data-id="5"><div>Text5</div></div>
                            <div class="bg ui-draggable ui-draggable-handle" data-id="6"><div>Text6</div></div>
                            <div class="bg ui-draggable ui-draggable-handle" data-id="7"><div>Text7</div></div>
                            <div class="bg ui-draggable ui-draggable-handle" data-id="8"><div>Text8</div></div>
                            <div class="bg ui-draggable ui-draggable-handle" data-id="9"><div>Text9</div></div>
                            <div class="bg ui-draggable ui-draggable-handle" data-id="10"><div>Text10</div></div>
                        </div>
                    </div>
                </div>
                <div class="tb">
                    <div>
                        <div class="issues-block-1 issues-block-1-2" data-block="2">
                            <div class="bg" data-id="1"><div>Text</div></div>
                            <div class="bg" data-id="2"><div>Text</div></div>
                            <div class="bg" data-id="3"><div>Text</div></div>
                            <div class="bg" data-id="4"><div>Text</div></div>
                            <div class="bg" data-id="5"><div>Text</div></div>
                            <div class="bg" data-id="6"><div>Text</div></div>
                            <div class="bg" data-id="7"><div>Text</div></div>
                            <div class="bg" data-id="8"><div>Text</div></div>
                            <div class="bg" data-id="9"><div>Text</div></div>
                            <div class="bg" data-id="10"><div>Text</div></div>
                        </div>
                    </div>
                </div>
                <div class="tb">
                    <div>
                        <div class="issues-block-1 issues-block-1-3" data-block="3">
                            <div class="bg" data-id="1"><div>Text</div></div>
                            <div class="bg" data-id="2"><div>Text</div></div>
                            <div class="bg" data-id="3"><div>Text</div></div>
                            <div class="bg" data-id="4"><div>Text</div></div>
                            <div class="bg" data-id="5"><div>Text</div></div>
                            <div class="bg" data-id="6"><div>Text</div></div>
                            <div class="bg" data-id="7"><div>Text</div></div>
                            <div class="bg" data-id="8"><div>Text</div></div>
                            <div class="bg" data-id="9"><div>Text</div></div>
                            <div class="bg" data-id="10"><div>Text</div></div>
                        </div>
                    </div>
                </div>
                <div class="tb">
                    <div>
                        <div class="issues-block-1 issues-block-1-4" data-block="4">
                            <div class="bg" data-id="1"><div>Text</div></div>
                            <div class="bg" data-id="2"><div>Text</div></div>
                            <div class="bg" data-id="3"><div>Text</div></div>
                            <div class="bg" data-id="4"><div>Text</div></div>
                            <div class="bg" data-id="5"><div>Text</div></div>
                            <div class="bg" data-id="6"><div>Text</div></div>
                            <div class="bg" data-id="7"><div>Text</div></div>
                            <div class="bg" data-id="8"><div>Text</div></div>
                            <div class="bg" data-id="9"><div>Text</div></div>
                            <div class="bg" data-id="10"><div>Text</div></div>
                        </div>
                    </div>
                </div>
                <div class="tb">
                    <div>
                        <div class="issues-block-1 issues-block-1-5" data-block="5">
                            <div class="bg" data-id="1"><div>Text</div></div>
                            <div class="bg" data-id="2"><div>Text</div></div>
                            <div class="bg" data-id="3"><div>Text</div></div>
                            <div class="bg" data-id="4"><div>Text</div></div>
                            <div class="bg" data-id="5"><div>Text</div></div>
                            <div class="bg" data-id="6"><div>Text</div></div>
                            <div class="bg" data-id="7"><div>Text</div></div>
                            <div class="bg" data-id="8"><div>Text</div></div>
                            <div class="bg" data-id="9"><div>Text</div></div>
                            <div class="bg" data-id="10"><div>Text</div></div>
                        </div>
                    </div>
                </div>
                <div class="tb">
                    <div>
                        <div class="issues-block-1 issues-block-1-6" data-block="6">
                            <div class="bg" data-id="1"><div>Text</div></div>
                            <div class="bg" data-id="2"><div>Text</div></div>
                            <div class="bg" data-id="3"><div>Text</div></div>
                            <div class="bg" data-id="4"><div>Text</div></div>
                            <div class="bg" data-id="5"><div>Text</div></div>
                            <div class="bg" data-id="6"><div>Text</div></div>
                            <div class="bg" data-id="7"><div>Text</div></div>
                            <div class="bg" data-id="8"><div>Text</div></div>
                            <div class="bg" data-id="9"><div>Text</div></div>
                            <div class="bg" data-id="10"><div>Text</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#contentFor "footer"}}
    <script src="/js/admin/plugins/issuesBlock.js"></script>
    <script src="/js/admin/plugins/jqueru-ui/jquery-ui.min.js"></script>

    <script type="application/javascript">
        $.isbl.initialize();
    </script>
{{/contentFor}}