{{!< ../layout}}
<div id="main">
    <div class="container full">
        <section class="grid">
            <header>
                <h1>Сеты товаров</h1>
            </header>
            <div class="grid__content">
                <div class="layout">
                    <div class="grid__item fig_square fig_big valign-top">
                        <div class="grid__link">
                            <a href="#" style="background-image: url('/images/site/grid/pic01.png')">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_rect fig_big color-white">
                        <div class="grid__link">
                            <a href="#" style="background-image: url('/images/site/grid/pic02.png')">
                                <h3>Плитка <br>тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_square fig_small">
                        <div class="grid__link">
                            <a href="#" style="background-image: url('/images/site/grid/pic03.png')">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_rect fig_big color-white">
                        <div class="grid__link">
                            <a href="#" style="background-image: url('/images/site/grid/pic04.png')">
                                <h3>Плитка <br>тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_square fig_small">
                        <div class="grid__link">
                            <a href="#" style="background-image: url('/images/site/grid/pic05.png')">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_rect fig_big">
                        <div class="grid__link">
                            <a href="#" style="background-color: #adaeaf">
                                <h3>Плитка <br>тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_square fig_small">
                        <div class="grid__link">
                            <a href="#" style="background-color: #adaeaf">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item block-right fig_square fig_big halign-center">
                        <div class="grid__link">
                            <a href="#" style="background-image: url('/images/site/grid/pic06.png')">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_rect fig_big">
                        <div class="grid__link">
                            <a href="#" style="background-color: #adaeaf">
                                <h3>Плитка <br>тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_square fig_small">
                        <div class="grid__link">
                            <a href="#" style="background-color: #adaeaf">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>