<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width" name="viewport">
    <title>404</title>
    <style>
        * { margin: 0; padding: 0;}
        body {background-color: #313b3b;}
        html {
            font: 300 17px/1.2 'Roboto', sans-serif;
            color: #313b3e;
            min-height: 100%;
            position: relative;
        }
        .mini-container {
            margin: 10% auto;
            max-width: 700px;
            text-align: center;
        }
        i {
            display: block;
            width: 100%;
            margin-bottom: 2.35rem;
        }
        i img {
            display: block;
            width: 100%;
            height: auto;
        }
        p {
            line-height: 1.4;
            margin-bottom: 2.35rem;
            font-weight: 400;
        }
        .button_field {
            text-align: center;
            z-index: 1;
            position: relative;
        }
        .button_field a {
            background-color: #78415a;
            color: #ffffff;
            min-width: 8rem;
            display: inline-block;
            font-size: 0.9rem;
            line-height: 3rem;
            padding: 0 1.2rem;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 50px;
        }
        .button_field a:hover {
            background-color: #781e37;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <div class="mini-container">
                <div style="font-size: 200px;  color: #78415a;">404</div>
                <div class="button_field">
                    <a href="/admin">Вернуться на главную</a>
                </div>
                <div style="z-index: 0;font-size: 200px;  color: #78415a; transform: rotate(90deg); margin-left: 50px">:{</div>
            </div>
        </div>
    </div>
</body>
</html>