{{#contentFor "head"}}
    <link href="/admin/js/plugins/jquery-fileTree/enhanced.css" rel="stylesheet" type="text/css" media="screen" />
{{/contentFor}}

<div class="con">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="ibox-tools">
                {{# if modules.x }}
                    <a href="/admin/update/{{ table }}" class="btn btn-primary">Добавить</a>
                {{/if}}
            </div>
        </div>

        <div class="ibox-content">
            {{{ wood }}}
        </div>
    </div>
</div>

{{#contentFor "footer"}}
    <script type="text/javascript" src="/admin/js/plugins/jquery-fileTree/enhance.js"></script>
    <script src="/admin/js/plugins/jquery-fileTree/jQuery.tree.js" type="text/javascript"></script>

    <script>
        $('.menu_tree').tree({expanded: 'li:first'});
        $('input.flat').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

        <!--$(document).ready(function() {-->
            <!--clM('.rowID-{{ $get_id }}');-->

            <!--function clM(c) {-->
                <!--var cl = $(c).parent().parent('li').attr('class');-->

                <!--if(cl) {-->
                    <!--$(c).parent().parents('li').children('a').click();-->
                    <!--cl = $(c).parent().parent('li').attr('class');-->

                    <!--clM(cl);-->
                <!--}-->
            <!--}-->

            <!--setTimeout(function() {-->
                <!--$('.rowID-{{ $get_id }} > a').click();-->
                <!--$('.rowID-{{ $get_id }} > div > input').click();-->
                <!--window.location.href = window.location.href + '#{{ $get_id }}';-->
            <!--}, 1000);-->
        <!--});-->
    </script>
{{/contentFor}}