{{!< ../layout}}
<div id="main">
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="home"><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_home"></use> </svg></a>
            <a href="/catalog">Каталог</a>
            <a href="/catalog/1">Формы</a>
            <span>Формы для камня</span>
        </div>
        <section class="product">
            <header class="layout">
                <div class="product__gallery">
                    <div class="gallery-box" id="gallery">
                        <div class="gallery-main">
                            <button class="next"><i class="icon-chevron-thin-right"></i></button>
                            <button class="prev"><i class="icon-chevron-thin-left"></i></button>
                            <figure data-item="1" class="current" style="background-image: url('/images/site/gallery/temp-gallery-01.jpg')"></figure>
                        </div>
                        <div class="gallery-list">
                            <ul>
                                <li>
                                    <div>
                                        <figure class="current" data-item="1" style="background-image: url('/images/site/gallery/temp-gallery-02.jpg')"></figure>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <figure data-item="2" style="background-image: url('/images/site/gallery/temp-gallery-03.jpg')"></figure>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <figure data-item="3" style="background-image: url('/images/site/gallery/temp-gallery-04.jpg')"></figure>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <figure data-item="4" style="background-image: url('/images/site/gallery/temp-gallery-05.jpg')"></figure>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product__characters">
                    <h1>Формы для камня</h1>
                    <dl>
                        <dt>Размер формы:</dt>
                        <dd>54x52x2,5 см</dd>
                    </dl>
                    <dl>
                        <dt>Выход камня:</dt>
                        <dd>0,2 м2</dd>
                    </dl>
                    <dl>
                        <dt>Размер камня:</dt>
                        <dd>23б5ч6 см - 14 шт</dd>
                    </dl>
                    <dl>
                        <dt>Тощина камня:</dt>
                        <dd>1-1,5 см</dd>
                    </dl>
                    <dl>
                        <dt>Вес формы</dt>
                        <dd>5 кг</dd>
                    </dl>
                    <div class="price">
                        <strong>4 500 &#8381;</strong>
                        <span class="discount">Со скидкой 50%</span>
                    </div>
                    <div class="spinner">
                        <div class="spinner__counts">
                            <button class="minus"><i class="icon-minus"></i></button>
                            <span>10</span>
                            <button class="plus"><i class="icon-plus"></i></button>
                        </div>
                        <a href="#">В корзину</a>
                    </div>
                </div>
            </header>
            <div class="product__tabs">
                <nav>
                    <span class="tab current">Описание</span>
                    <span class="tab">Характеристика</span>
                    <span class="tab">Отзывы</span>
                    <span class="tab">Обзоры</span>
                </nav>
                <div class="product__tabs_main">
                    <div class="text-box">
                        <h1>Как создать структуру интервью h1</h1>
                        <h2>Чтобы наглядно показать структуру интервью, мы выбрали наш кейс. h2</h2>
                        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, <a href="#">вебмастеру сгенерировать</a> несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
                        <img src="/images/site/gallery/temp-gallery-07.jpg" alt="img">
                        <blockquote> Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений.</blockquote>
                        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, <a href="#">вебмастеру сгенерировать</a> несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях:</p>
                        <ol>
                            <li>Сайт рыбатекст поможет дизайнеру</li>
                            <li>Сайт рыбатекст поможет дизайнеру</li>
                            <li>Сайт рыбатекст поможет дизайнеру</li>
                        </ol>
                        <p><strong>Сайт рыбатекст поможет дизайнеру</strong></p>
                        <ul>
                            <li>Сайт рыбатекст поможет дизайнеру</li>
                            <li>Сайт рыбатекст поможет дизайнеру</li>
                            <li>Сайт рыбатекст поможет дизайнеру</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="catalog preview">
            <header>
                <h3>С этим товаром покупают</h3>
            </header>
            <div class="catalog__content layout">
                <div class="catalog__main">
                    <ul>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>