{{!< ../layout}}
<div id="main">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#" class="home"><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_home"></use> </svg></a>
            <a href="#">Каталог</a>
            <span>Формы</span>
        </div>
        <section class="catalog">
            <header>
                <h1>Формы</h1>
                <span class="count">15 000 товаров</span>
                <div class="view">
                    <i class="list"><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_menu-list"></use> </svg></i>
                    <i class="pallet active"><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_menu-palett"></use> </svg></i>
                </div>
            </header>
            <div class="catalog__content layout">
                <aside>
                    <form action="#">
                        <p>Раздел</p>
                        <fieldset>
                            <div class="form-selects">
                                <select class="custom-select">
                                    <option value="Формы">Формы</option>
                                    <option value="Раздел">Раздел</option>
                                    <option value="Раздел">Раздел</option>
                                    <option value="Раздел">Раздел</option>
                                </select>
                            </div>
                        </fieldset>
                        <p>Толщина камня</p>
                        <fieldset>
                            <div class="form-range">
                                <div id="width_range"></div>
                            </div>
                        </fieldset>
                        <p>Цена</p>
                        <fieldset>
                            <div class="form-range">
                                <div id="price_range" class="twice"></div>
                                <div class="range-inputs">
                                    <input type="text" id="input-with-keypress-0">
                                    <input type="text" id="input-with-keypress-1">
                                </div>
                            </div>
                        </fieldset>
                        <p>Бренд</p>
                        <fieldset>
                            <div class="form-checks">
                                <div class="input-check">
                                    <input type="checkbox" id="check01">
                                    <label for="check01">Cona</label>
                                </div>
                                <div class="input-check">
                                    <input type="checkbox" id="check02">
                                    <label for="check02">Cona название в две строки</label>
                                </div>
                                <div class="input-check">
                                    <input type="checkbox" id="check03">
                                    <label for="check03">Cona</label>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </aside>
                <div class="catalog__main">
                    <ul>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                        <div class="rank">
                                            <span>12 отзывов</span>
                                            <span class="stars">
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starhalf"></use> </svg></i>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                        <div class="rank">
                                            <span>12 отзывов</span>
                                            <span class="stars">
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starhalf"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starempty"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starempty"></use> </svg></i>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                        <div class="rank">
                                            <span>12 отзывов</span>
                                            <span class="stars">
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starempty"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starempty"></use> </svg></i>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                        <div class="rank">
                                            <span>12 отзывов</span>
                                            <span class="stars">
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                        <i><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_starfull"></use> </svg></i>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="item__text">
                                        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру</p>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="item__text">
                                        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру</p>
                                    </div>

                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="item__text">
                                        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру</p>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="item__text">
                                        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру</p>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="pagination layout">
                        <div class="btn-field">
                            <a href="#" class="btn">Следующая страница</a>
                        </div>
                        <div class="pages">
                            <div class="pages-field">
                                <a href="#"><i class="icon-keyboard_arrow_left"></i></a>
                                <span>12</span>
                                <a href="#"><i class="icon-keyboard_arrow_right"></i></a>
                                <span class="total">из 15</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>